back_up_Platzi_inicial/
\Users\Juan Francisco\Desktop\cursos_platzi_dirW\curso_p_probabilistico\curso_regresion_lineal.ipynb
\Users\Juan Francisco\Desktop\cursos_platzi_dirW\curso_p_probabilistico\morral.html